@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --textWidth: var(--textWidth);
}

*,
html,
body {
  @apply font-["poppins"];
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

i,
input {
  @apply hover:cursor-pointer;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-size: 1px;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1px;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1px;
}
